<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="snippet">
          <h4 class="snippet-title"><%= @snippet.title %> <% if current_user.id == @snippet.user_id %>[ <a href='<%=edit_snippet_path(@snippet)%>'>Edit</a> | <%= link_to 'Delete', snippet_path(@snippet), method: :delete %> ]<% end %></h4>
          <div class="snippet-history">Snippet originally posted by <span class="snippet-owner"><%= @snippet.user.username.capitalize %></span> | <time><%= @snippet.created_at.to_date %></time></div>
          <pre><code class="<%= @snippet.language unless @snippet.language.nil? %>"><%= @snippet.content %></code></pre>
        </div>
        <hr>
        <h3>Comments</h3>
          <% @comments.each do |comment| %>
            <div class="comment">
              <div class="comment-info">
                Post by <span class="comment-owner"><%= comment.user.username.capitalize %></span> |
                <time><%= comment.created_at.to_date %></time>
                <% if is_owner?(comment) %>
                  [<%= link_to 'Edit', edit_snippet_comment_path(@snippet, comment) %> | <%= link_to 'Delete', snippet_comment_path(@snippet, comment), method: :delete %>]
                <% end %>
              </div>
              <div class="comment-body"><%= comment.content %></div>
            </div>
          <% end %>
          <%= paginate @comments %>
        <% if logged_in? %>
          <%= form_for([@snippet, @comment]) do |f|%>
            <div class="form-group">
              <%= f.text_area :content, class: 'form-control' %>
            </div>
            <div class="form-group text-right">
              <%= f.submit 'Post a comment', class: 'btn btn-success' %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
